{% extends "base.html" %}

{% block app_menu %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">Menue <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'edit_as' request.user.assistent.id %}">Nutzerkonto/Assistent bearbeiten</a></li>
                    <li><a href="">Link 2</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}