{% extends "base.html" %}
{% load user_tags %}

{% block app_menu %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                {% if request.user|has_group:"Assistenten"%}
                    <a href="{% url 'as_schicht_tabelle' %}">Schichtkalender</a>
                {% endif %}
                {% if request.user|has_group:"Assistenznehmer"%}
                    <a href="{% url 'asn_dienstplan' %}">Dienstplan</a>
                {% endif %}
                {% if request.user|has_group:"Einsatzbegleitungen"%}
                    <a href="{% url 'eb_dienstplan' %}">Einsatzpläne</a>
                {% endif %}
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">Personen <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if request.user|has_group:"Assistenten"%}
                        <li><a href="{% url 'as_edit_as' request.user.assistent.id %}">Nutzerkonto/Assistent bearbeiten</a></li>
                        <li><a href="{% url 'as_create_asn' %}">ASN eintragen/bearbeiten</a></li>
                    {% endif %}
                    {% if request.user|has_group:"Assistenznehmer"%}
                        <li><a href="{% url 'asn_edit_asn' request.user.assistenznehmer.id %}">Nutzerkonto/ASN bearbeiten</a></li>
                        <li><a href="{% url 'asn_create_as' %}">Assistenten eintragen/bearbeiten</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">Eintragen <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if request.user|has_group:"Assistenten"%}
                        <li><a href="{% url 'as_create_schicht' %}">Schicht</a></li>
                        <li><a href="{% url 'create_urlaub' %}">Urlaub</a></li>
                        <li><a href="{% url 'create_au' %}">AU/Krank</a></li>
                    {% endif %}
                    {% if request.user|has_group:"Assistenznehmer"%}
                        <li><a href="{% url 'asn_create_schicht' %}">Schicht</a></li>
                    {% endif %}
                    {% if request.user|has_group:"Assistenten" or request.user|has_group:"Assistenznehmer"%}
                        <li><a href="{% url 'create_sperrzeit' %}" >Sperrzeit eintragen</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        {% if request.user|has_group:"Assistenten"%}
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'einkommenssteuer' %}">Einkommenssteuer</a></li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'hilfe' %}">Hilfe</a></li>
        </ul>
    {% endif %}
{% endblock %}