{% extends "base.html" %}

{% block app_menu %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="{% url 'schicht_tabelle' %}">Schichtkalender</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">Personen <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'edit_as' request.user.assistent.id %}">Nutzerkonto/Assistent bearbeiten</a></li>
                    <li><a href="{% url 'create_asn' %}">ASN eintragen/bearbeiten</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">Eintragen <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'create_schicht' %}">Schicht</a></li>
                    <li><a href="{% url 'create_urlaub' %}">Urlaub</a></li>
                    <li><a href="{% url 'create_au' %}">AU/Krank</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'einkommenssteuer' %}">Einkommenssteuer</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'hilfe' %}">Hilfe</a></li>
        </ul>
    {% endif %}
{% endblock %}