{% extends "app_base.html" %}

{% block title %}Assistenznehmer bearbeiten{% endblock %}

{% block heading %}
  <h2>Assistenznehmer bearbeiten</h2>
{% endblock %}

{% block content %}
    <div>
        <form action="{% url 'asn_edit_asn' request.user.assistenznehmer.id %}" method="post">
            {% include 'betterforms/form_as_fieldsets.html' %}
            <div class="buttonleiste">
                <input type="submit" value="Speichern">
            </div>
        </form>
    </div>
{% endblock %}
