{% extends "app_base.html" %}
{% block title %}ASN bearbeiten{% endblock %}
{% block heading %}
    <h2>Assistenznehmer (ASN) bearbeiten</h2>
{% endblock %}

{% block content %}


    <div>
        <form action="" method="post">
            {% block form_head %}
            {% csrf_token %}
            {% endblock %}
            {% block form_body %}
                {{ form.non_field_errors }}
                    <fieldset>
                        <legend>Wer?</legend>
                            <div>
                                {{ form.schicht.asn.label_tag }} {{ form.schicht.asn }}
                            </div>
                            {% if not form.schicht.asn.value %}
                                <fieldset id="fieldset-neuer-assistenznehmer" >
                                    <legend>Neuer Assistenznehmer</legend>
                                    <div>
                                        {{ form.asn_stammdaten.kuerzel.label_tag }} {{ form.asn_stammdaten.kuerzel }}
                                    </div>
                                    <div>
                                        {{ form.asn_stammdaten.name.label_tag }} {{ form.asn_stammdaten.name }}
                                    </div>
                                    <div>
                                        {{ form.asn_stammdaten.vorname.label_tag }} {{ form.asn_stammdaten.vorname }}
                                    </div>
                                    <div>
                                        {{ form.asn_stammdaten.email.label_tag }} {{ form.asn_stammdaten.email }}
                                    </div>
                                    <div>
                                        {{ form.asn_stammdaten.einsatzbuero.label_tag }} {{ form.asn_stammdaten.einsatzbuero }}
                                    </div>
                                    <div>
                                        {{ form.asn_stammdaten.einsatzbegleitung.label_tag }} {{ form.asn_stammdaten.einsatzbegleitung }}
                                    </div>
                                    <div>
                                        {{ form.asn_stammdaten.pflegefachkraft.label_tag }} {{ form.asn_stammdaten.pflegefachkraft }}
                                    </div>
                                </fieldset>
                            {% else %}
                                <fieldset id="fieldset-schicht-templates">
                                    <legend>Schichtvorlagen</legend>
                                    <div>
                                         {{ form.schicht.templates }}
                                    </div>
                                </fieldset>
                            {% endif %}
                        </fieldset>
                        <fieldset>
                            <legend>Wann?</legend>
                            <div>
                                {{ form.schicht.beginn.label_tag }} {{ form.schicht.beginn }}
                            </div><div>
                                {{ form.schicht.ende.label_tag }} {{ form.schicht.ende }}
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>
                                Was noch?
                            </legend>
                            <div>
                                {{ form.schicht.ist_kurzfristig }} {{ form.schicht.ist_kurzfristig.label_tag }}
                            </div><div>
                                {{ form.schicht.ist_ausfallgeld }} {{ form.schicht.ist_ausfallgeld.label_tag }}
                            </div><div>
                                {{ form.schicht.ist_assistententreffen }} {{ form.schicht.ist_assistententreffen.label_tag }}
                            </div><div>
                                {{ form.schicht.ist_pcg}} {{ form.schicht.ist_pcg.label_tag }}
                            </div><div>
                                {{ form.schicht.ist_schulung }} {{ form.schicht.ist_schulung.label_tag }}
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Wo?</legend>
                            <div>
                                {{ form.schicht.beginn_adresse.label_tag }} {{ form.schicht.beginn_adresse }}
                            </div><div>
                                {{ form.schicht.ende_adresse.label_tag }} {{ form.schicht.ende_adresse }}
                            </div>
                        </fieldset>
                {% endblock %}

            <div class="buttonleiste">
                <input type="submit" value="Speichern">
            </div>
        </form>
    </div>
<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
{% endblock %}
