{% extends "app_base.html" %}

{% block title %}ASN bearbeiten{% endblock %}

{% block heading %}
  <h2>Assistenznehmer (ASN) bearbeiten</h2>
{% endblock %}



{% block content %}
    <ul class="asn-menu" role="menu">
        <li><a href="{% url 'create_asn' %}">Neuer ASN</a></li>
        {% for asn_id in asn_liste %}
            <li><a href="{% url 'edit_asn' asn_id.0 %}">{{ asn_id.1 }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <form action="" method="post">

            {% include 'betterforms/form_as_fieldsets.html' %}

            <input type="submit" value="Speichern">
        </form>
    </div>
{% endblock %}
