{% extends "app_base.html" %}

{% block title %}Hilfe{% endblock %}

{% block heading %}
  <h2>Hilfe</h2>
{% endblock %}

{% block content %}
<h3>Ein paar kurze Infos zu dieser absolut unfertigen Testversion</h3>
<p>Hi ihr Lieben,<br>
schön, dass ich Euch zum Testen meines kleinen Programmes gewinnen konnte.</p>
<p>
  Ihr werdet sicher noch auf viele Unklarheiten und Fehler stoßen, aber genau dafür seid ihr ja hier.
</p>
<p>
  Ich bin dieses Mal guter Hoffnung, dass ich Eure eingegebenen Daten auch in weiteren Versionen weiterführen kann.<BR>
  Das Einpflegen ganzer Jahre und Ausprobieren der Einkommenssteuer-Funktionen ist also auch nicht ganz sinnlos. ;)
</p>
<p>
  Ich empfehle zuerst Eure wichtigsten ASN einzupflegen.
  Solltet ihr feste Schichten haben, tragt auch diese direkt bei den ASN ein. Das spart ne Menge Arbeit.
  Es empfiehlt sich auch, die normalen Schichtzeiten (wenigstens diese, zu denen ihr normalerweise arbeitet) auch
  direkt beim ASN als "Schicht-Vorlagen" einzupflegen.
</p>
<p>
  Dann kann es mit dem fleißigen Eintragen der Schichten und dem wilden Rumprobieren losgehen.

</p>
<h3>Was noch nicht funktioniert</h3>
<ul>
  <li>Alternative Adressen für eure Einsätze (Es kann ja sein, dass ihr mal nicht beim ASN zu Hause anfangt)</li>
  <li>Betriebsratssitzungen, BVs, Schulungen (alternativ lege ich im Moment ASN mit diesen Bezeichnungen an und kann so auch diese Dinge eintragen)</li>
  <li>Dinge, die ihr Euch wünscht</li>
</ul>
<h3>Was noch geplant ist</h3>
<ul>
  <li>Eine App, die auf die selbe Datenbank zugreift, sprich ein "AT-Modus" (alle schichten, die ich jetzt eingebe, sind vom ASN xxx)</li>
  <li>Eine Ansicht für ASN </li>
  <li>eine neue flexiblere Oberfläche</li>
  <li>was mir sonst noch so einfällt</li>
</ul>

<p>Ich hoffe, ihr haltet das Tool grundsätzlich erstmal für sinnvoll und freue mich auf jede Menge Input</p>
{% endblock %}
