{% extends "app_base.html" %}

{% load static %}

{% block content %}
    <div>
        <a class="buttonlink inline" href="{% url 'schicht_tabelle' nav_timedelta.vormonat_date|date:'Y' nav_timedelta.vormonat_date|date:'m' %}" >Einen Monat zurück</a>

        <div class ="inline">
            <form method="get" action="">
                <select name="month" onchange="form.submit()">
                    {% for key, value in nav_timedelta.monatsliste.items %}
                        <option value="{{ key }}"
                        {% if key == nav_timedelta.act_date|date:"m" %}
                            selected="selected"
                        {% endif %}

                        > {{ value }} </option>
                    {% endfor %}
                </select>
                <select name="year" onchange="form.submit()">
                    {% for year in nav_timedelta.jahresliste %}

                        <option value="{{ year }}"
                        {% if year == nav_timedelta.act_date|date:"Y" %}
                            selected="selected"
                        {% endif %}
                        > {{ year }} </option>
                    {% endfor %}
                </select>

            </form>
        </div>
        <a class="buttonlink inline" href="{% url 'schicht_tabelle' nav_timedelta.nachmonat_date|date:'Y' nav_timedelta.nachmonat_date|date:'m' %}">Einen Monat weiter</a>

    </div>
    <div class="inline">
        <table border="1">
        <tr>
            <td></td>
            <td>Tag</td>
            <td>von</td>
            <td>bis</td>
            <td>ASN</td>
            <td>Stunden</td>
            <td>Lohn</td>
            <td>BSD/RB</td>
            <td>Stunden<br>Nacht</td>
            <td>Nachtzschlg.</td>
            <td>Orga</td>
            <td>Wechselschicht</td>
            <td>{{ schicht.schichtlohn }}</td>
        </tr>
        {% for tag, schichten in schichttabelle.items %}
            {% if schichten %}
                {% for schicht in schichten %}
                    <tr >
                        <td>
                            <form method="post">
                                 {% csrf_token %}
                                <input type="image"
                                       src="{% static 'images/del.png'%}"
                                       formaction="{% url 'del_schicht' schicht.schicht_id %}"
                                       value=""
                                       onClick="return confirm('Wollen Sie wirklich löschen?')"
                                >
                                <a href="{% url 'edit_schicht' schicht.schicht_id %}">
                                    <img src="{% static 'images/edit.png'%}">
                                </a>
                                <a href="{% url 'create_schicht' nav_timedelta.act_date|date:"Y" nav_timedelta.act_date|date:"m" tag %}">
                                    <img src="{% static 'images/add.png'%}">
                                </a>

                            </form>
                        </td>

                        <td>
                            {{ tag }}
                        </td>
                        <td>{{ schicht.von }}</td>
                        <td>{{ schicht.bis }}</td>
                        <td>{{ schicht.asn }}</td>
                        <td class="right">{{ schicht.stunden }}</td>
                        <td class="right">{{ schicht.schichtlohn }}</td>
                        <td class="right">{{ schicht.bsd }}</td>
                        <td class="right">{{ schicht.nachtstunden }}</td>
                        <td class="right">{{ schicht.nachtzuschlag_schicht }}</td>
                        <td class="right">{{ schicht.orgazulage_schicht }}</td>
                        <td class="right">{{ schicht.wechselzulage_schicht }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <a href="{% url 'create_schicht' nav_timedelta.act_date|date:"Y" nav_timedelta.act_date|date:"m" tag %}">
                            <img src="{% static 'images/add.png'%}">
                        </a>
                    </td>
                    <td>
                        {{ tag }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
    <div class="inline">
        <table>
            <tr>
                <td>Bezeichner</td>
                <td>Stunden</td>
                <td>pro Stunde</td>
                <td>Gesamt</td>
            </tr>
            <tr>
                <td>Lohn</td>
                <td class="right">{{summen.arbeitsstunden|floatformat:1}}</td>
                <td class="right">{{summen.stundenlohn|floatformat:2}}€</td>
                <td class="right">{{summen.lohn|floatformat:2}}€</td>
            </tr>
            <tr>
                <td>Nachtzuschlag</td>
                <td class="right">{{summen.nachtstunden|floatformat:1}}</td>
                <td class="right">{{summen.nachtzuschlag|floatformat:2}}€</td>
                <td class="right">{{summen.nachtzuschlag_kumuliert|floatformat:2}}€</td>
            </tr>
            {% if summen.bsd %}
                <tr>
                    <td>kurzfristig RB/BSD</td>
                    <td class="right">{{summen.bsd_stunden|floatformat:1}}</td>
                    <td class="right">{{summen.bsd_lohn|floatformat:2}}€</td>
                    <td class="right">{{summen.bsd_kumuliert|floatformat:2}}€</td>
                </tr>
                <tr>
                    <td>Wegegeld BSD</td>
                    <td colspan="3">kommt bald </td>
                </tr>
            {% endif %}
            <tr>
                <td>Orgazuschlag</td>
                <td class="right">{{summen.arbeitsstunden|floatformat:1}}</td>
                <td class="right">{{summen.orga_zuschlag|floatformat:2}}€</td>
                <td class="right">{{summen.orga_zuschlag_kumuliert|floatformat:2}}€</td>
            </tr>
            <tr>
                <td>Wechselschichtzuschlag</td>
                <td class="right">{{summen.arbeitsstunden|floatformat:1}}</td>
                <td class="right">{{summen.wechselschicht_zuschlag|floatformat:2}}€</td>
                <td class="right">{{summen.wechselschicht_zuschlag_kumuliert|floatformat:2}}€</td>
            </tr>
            <tr>
                <td>Bruttolohn</td>
                <td></td>
                <td></td>
                <td class="right">{{summen.bruttolohn|floatformat:2}}€</td>
            </tr>
        </table>
    </div>
<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
{% endblock %}
