{% extends "app_base.html" %}

{% load static %}
{% load tz %}

{% block content %}
    <div>
        <a class="buttonlink inline" href="{% url 'schicht_tabelle' nav_timedelta.vormonat_date|date:'Y' nav_timedelta.vormonat_date|date:'m' %}" >Einen Monat zurück</a>

        <div class ="inline">
            <form method="get" action="">
                <select name="month" onchange="form.submit()">
                    {% for key, value in nav_timedelta.monatsliste.items %}
                        <option value="{{ key }}"
                        {% if key == nav_timedelta.act_date|date:"m" %}
                            selected="selected"
                        {% endif %}

                        > {{ value }} </option>
                    {% endfor %}
                </select>
                <select name="year" onchange="form.submit()">
                    {% for year in nav_timedelta.jahresliste %}

                        <option value="{{ year }}"
                        {% if year == nav_timedelta.act_date|date:"Y" %}
                            selected="selected"
                        {% endif %}
                        > {{ year }} </option>
                    {% endfor %}
                </select>

            </form>
        </div>
        <a class="buttonlink inline" href="{% url 'schicht_tabelle' nav_timedelta.nachmonat_date|date:'Y' nav_timedelta.nachmonat_date|date:'m' %}">Einen Monat weiter</a>

    </div>
    <div class="inline">
        <table border="1">
        <tr>
            <td></td>
            <td>Tag</td>
            <td>von</td>
            <td>bis</td>
            <td>ASN</td>
            <td>Stunden</td>
            <td>Lohn</td>
            <td>BSD/RB</td>
            <td>Stunden<br>Nacht</td>
            <td>Nachtzschlg.</td>
            <td>Orga</td>
            <td>Wechselschicht</td>
            <td>{{ schicht.schichtlohn }}</td>
        </tr>
        {% for tag, schichten in schichttabelle.items %}
            {% if schichten %}
                {% for schicht in schichten %}
                    <tr >
                        <td>

                            {% if schicht.type == 'schicht' %}
                            <form method="post">
                                 {% csrf_token %}
                                <input type="image"
                                       src="{% static 'images/del.png'%}"
                                       formaction="{% url 'del_schicht' schicht.schicht_id %}"
                                       value=""
                                       onClick="return confirm('Wollen Sie wirklich löschen?')"
                                >
                                <a href="{% url 'edit_schicht' schicht.schicht_id %}">
                                    <img src="{% static 'images/edit.png'%}">
                                </a>
                                <a href="{% url 'create_schicht' nav_timedelta.act_date|date:"Y" nav_timedelta.act_date|date:"m" tag %}">
                                    <img src="{% static 'images/add.png'%}">
                                </a>

                            </form>
                            {% elif schicht.type == 'urlaub' %}
                            <form method="post">
                                 {% csrf_token %}
                                <input type="image"
                                       src="{% static 'images/del.png'%}"
                                       formaction="{% url 'del_urlaub' schicht.schicht_id %}"
                                       value=""
                                       onClick="return confirm('Wollen Sie wirklich löschen?')"
                                >
                                <a href="{% url 'edit_urlaub' schicht.schicht_id %}">
                                    <img src="{% static 'images/edit.png'%}">
                                </a>
                            </form>
                            {% elif schicht.type == 'au' %}
                            <form method="post">
                                 {% csrf_token %}
                                <input type="image"
                                       src="{% static 'images/del.png'%}"
                                       formaction="{% url 'del_au' schicht.schicht_id %}"
                                       value=""
                                       onClick="return confirm('Wollen Sie wirklich löschen?')"
                                >
                                <a href="{% url 'edit_au' schicht.schicht_id %}">
                                    <img src="{% static 'images/edit.png'%}">
                                </a>
                            </form>
                            {% endif %}



                        </td>

                        <td class="center">
                            {{ tag|localtime|date:"D d" }}
                        </td>
                        <td>{{ schicht.von|localtime|date:"H:i" }}</td>
                        <td>{{ schicht.bis|localtime|date:"H:i" }}</td>
                        <td>{{ schicht.asn }}</td>
                        <td class="right">{% if schicht.stunden %}{{ schicht.stunden|floatformat:1}}{% endif %}</td>
                        <td class="right">{% if schicht.schichtlohn %}{{ schicht.schichtlohn|floatformat:2}}€{% endif %}</td>
                        <td class="right">{% if schicht.bsd %}{{ schicht.bsd|floatformat:2}}€{% endif %}</td>
                        <td class="right">{% if schicht.nachtstunden %}{{ schicht.nachtstunden|floatformat:1}}{% endif %}</td>
                        <td class="right">{% if schicht.nachtzuschlag_schicht %}{{ schicht.nachtzuschlag_schicht|floatformat:2}}€{% endif %}</td>
                        <td class="right">{% if schicht.orgazulage_schicht %}{{ schicht.orgazulage_schicht|floatformat:2}}€{% endif %}</td>
                        <td class="right">{% if schicht.wechselzulage_schicht %}{{ schicht.wechselzulage_schicht|floatformat:2}}€{% endif %}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <a href="{% url 'create_schicht' tag|localtime|date:"Y" tag|localtime|date:"m"  tag|localtime|date:"d" %}">
                            <img src="{% static 'images/add.png'%}">
                        </a>
                    </td>
                    <td class="center">
                        {{ tag|localtime|date:"D d" }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
    <div class="inline">
        <div>
            <table>
                <tr>
                    <td>Bezeichner</td>
                    <td>Stunden</td>
                    <td>pro Stunde</td>
                    <td>Gesamt</td>
                </tr>
                <tr>
                    <td>Lohn</td>
                    <td class="right">{{summen.arbeitsstunden|floatformat:1}}</td>
                    <td class="right">{{summen.stundenlohn|floatformat:2}}€</td>
                    <td class="right">{{summen.lohn|floatformat:2}}€</td>
                </tr>
                <tr>
                    <td>Nachtzuschlag</td>
                    <td class="right">{{summen.nachtstunden|floatformat:1}}</td>
                    <td class="right">{{summen.nachtzuschlag|floatformat:2}}€</td>
                    <td class="right">{{summen.nachtzuschlag_kumuliert|floatformat:2}}€</td>
                </tr>
                {% if summen.bsd %}
                    <tr>
                        <td>kurzfristig RB/BSD</td>
                        <td class="right">{{summen.bsd_stunden|floatformat:1}}</td>
                        <td class="right">{{summen.bsd_lohn|floatformat:2}}€</td>
                        <td class="right">{{summen.bsd_kumuliert|floatformat:2}}€</td>
                    </tr>
                    <tr>
                        <td>Wegegeld BSD</td>
                        <td colspan="3">kommt bald </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Orgazuschlag</td>
                    <td class="right">{{summen.arbeitsstunden|floatformat:1}}</td>
                    <td class="right">{{summen.orga_zuschlag|floatformat:2}}€</td>
                    <td class="right">{{summen.orga_zuschlag_kumuliert|floatformat:2}}€</td>
                </tr>
                <tr>
                    <td>Wechselschichtzuschlag</td>
                    <td class="right">{{summen.arbeitsstunden|floatformat:1}}</td>
                    <td class="right">{{summen.wechselschicht_zuschlag|floatformat:2}}€</td>
                    <td class="right">{{summen.wechselschicht_zuschlag_kumuliert|floatformat:2}}€</td>
                </tr>
                {% if summen.urlaubsstunden %}
                <tr>
                    <td>Urlaub</td>
                    <td class="right">{{summen.urlaubsstunden|floatformat:1}}</td>
                    <td class="right">{{summen.stundenlohn_urlaub|floatformat:2}}€</td>
                    <td class="right">{{summen.urlaubslohn|floatformat:2}}€</td>
                </tr>
                {% endif %}
                {% if summen.austunden %}
                    <tr>
                        <td>AU/krank</td>
                        <td class="right">{{summen.austunden|floatformat:1}}</td>
                        <td class="right">{{summen.stundenlohn_au|floatformat:2}}€</td>
                        <td class="right">{{summen.aulohn|floatformat:2}}€</td>
                    </tr>
                {% endif %}
                {% if summen.ueberstunden %}
                    <tr>
                        <td>Überstunden</td>
                        <td class="right">{{summen.ueberstunden|floatformat:1}}</td>
                        <td class="right">{{summen.ueberstunden_pro_stunde|floatformat:2}}€</td>
                        <td class="right">{{summen.ueberstunden_kumuliert|floatformat:2}}€</td>
                    </tr>
                {% endif %}
                {% if summen.anzahl_feiertage %}
                    <tr>
                        <td>Freizeitausgleich Feiertage</td>
                        <td class="right"></td>
                        <td class="right"></td>
                        <td class="right">{{summen.freizeitausgleich|floatformat:2}}€</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Bruttolohn</td>
                    <td></td>
                    <td></td>
                    <td class="right">{{summen.bruttolohn|floatformat:2}}€</td>
                </tr>
            </table>
            <p>Du kannst in diesem Jahr noch bis zu {{ summen.moegliche_arbeitssonntage }} Sonntage arbeiten. </p>

        </div>
        <div>

            <table cellspacing="0" cellpadding="0" border="0" width="400">
                <tr>
                    <td style="font: 11px Arial, Helvetica, sans-serif;color:#333333;">
                        <hr>
                        <h4>Wieviel ist das eigentlich im Portemonnaie?</h4>
                        Einfach Bruttolohn in den Brutto-Nettorechner von
                        brutto-netto-rechner.info eingeben.
                        <br>
                        Achtung: Alles, was ihr hier eingebt, wird zur Berechnung direkt an
                        https://www.brutto-netto-rechner.eu übertragen!<br>
                        Deshalb ist dieses Formular auch nicht vorausgefüllt!
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <iframe src="https://www.brutto-netto-rechner.eu/partner/rechner/partner_bnr.php?portal_name=variante1"
                                frameBorder="0"
                                height="500"
                                width="400" border="0" SCROLLING="yes">

                        </iframe>
                    </td>
                </tr>
                <tr>
                    <td style="font: 11px Arial, Helvetica, sans-serif;color:#333333;">
                        <a style="color:#555555;" href="https://www.brutto-netto-rechner.info/">
                            © by brutto-netto-rechner.info
                        </a>
                        <br>
                    </td>
                </tr>
        </table>
    </div>
</div>
<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>

{% endblock %}
