

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

label
{
    width: 10em;
    display: inline-block;
}
fieldset
{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 5px 5px #efefef;
}
legend
{
    width: auto;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 0px 5px;
    background-color: #ffffff;
}

.asn-menu-outer
{
    float: left;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 5px;
    box-shadow: 3px 3px 5px 5px #efefef;
}

.liste-in-fieldset
{
    float: left;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 5px;
    box-shadow: 3px 3px 5px 5px #efefef;
    display: inline-block;
}

.inline
{
    display: inline-block;
    vertical-align: top;
    margin: 5px;

}

.right
{
    text-align: right;
}

.center
{
    text-align: center;
}

.inline table
{
    margin: 0px auto;
}

.buttonlink
{
    border: 1px solid black;
    width: 10em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.container
{
    width: 100%
}

.samstag
{
    background-color: #a9a9a9;
}
.sonntag
{
    background-color: #808080;
}








