

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

label
{
    width: 10em;
    display: inline-block;
}
fieldset
{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 5px 5px #efefef;
}
legend
{
    width: auto;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 0px 5px;
    background-color: #ffffff;
}

.asn-menu-outer
{
    float: left;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 5px;
    box-shadow: 3px 3px 5px 5px #efefef;
}

.liste-in-fieldset
{
    float: left;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 5px;
    box-shadow: 3px 3px 5px 5px #efefef;
    display: inline-block;
}














